    <%= javascript_include_tag "index.js" %>
    <%= link_to '地図を作成する', new_map_path %>
    <div id="map"></div>
    <div id="bar">
      <p class="auto"><input type="text" id="autoc"/></p>
      <p><a id="clear" href="#">Click here</a> to clear map.</p>
    </div>