<h1>ようこそ！スナップロードへ！</h1>

  <div>
    <div id="result"></div>

    <%= link_to 'ホームへ', select_path %>
    <%= link_to 'マップ一覧へ', maps_all_path %>
    <label for="title">タイトル</label>
    <input type="text" name="title" id="title">

    <label for="name">あなたのニックネーム</label>
    <input type="text" name="name" id="name">

    <label for="body">道に関するちょっとしたメモ</label>
    <textarea name="body" id="body" cols="20" rows="3"></textarea>
  </div>

  <div>
    <h2>使い方</h2>    
    <p>1. 最初に道の名前、あなたの名前（架空で構いません）、道に関するちょっとしたメモを入力してください</p>
    <p>2. クリックでポイントを作成し、ダブルクリックで道を作成します</p>
    <p>3. 青い線が表示され、ページ上部に「道を作成しました！」のメッセージが出たら成功です</p>
    <p>作成した道はマップ一覧ページで見ることができます</p>
    <p>もし道を作成途中で作り直したい場合は画面をリロードしてください</p>
　　<h2>注意</h2>
    <p>現段階では作成した道の削除機能はございません。ご了承ください</p>
  </div>  </div>

    <div id="map"></div>
    <div id="bar">
      <h3>道を作りたい場所を検索</h3>
      <p class="auto"><input type="text" id="autoc"/></p>
      <p>削除機能まだ作成途中</p>
      <p>道の削除は<a id="clear" href="#">ここをクリック</a></p>
    </div>

    <script src="https://www.gstatic.com/external_hosted/jquery2.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=drawing,places&key=AIzaSyDC4lRXp8WvphHA76VX90sAcPyFFvfKM6Q"></script>
    <script>
var apiKey = 'AIzaSyDC4lRXp8WvphHA76VX90sAcPyFFvfKM6Q';

var map;
var drawingManager;
var placeIdArray = [];
var polylines = [];
var snappedCoordinates = [];

function initialize() {
  var mapOptions = {
    zoom: 18,
    center: {lat: 38.235703532607666, lng: 140.32471532697008,}
  };
  map = new google.maps.Map(document.getElementById('map'), mapOptions);

  // Adds a Places search box. Searching for a place will center the map on that
  // location.
  map.controls[google.maps.ControlPosition.RIGHT_TOP].push(
      document.getElementById('bar'));
  var autocomplete = new google.maps.places.Autocomplete(
      document.getElementById('autoc'));
  autocomplete.bindTo('bounds', map);
  autocomplete.addListener('place_changed', function() {
    var place = autocomplete.getPlace();
    if (place.geometry.viewport) {
      map.fitBounds(place.geometry.viewport);
    } else {
      map.setCenter(place.geometry.location);
      map.setZoom(17);
    }
  });

  // Enables the polyline drawing control. Click on the map to start drawing a
  // polyline. Each click will add a new vertice. Double-click to stop drawing.
  drawingManager = new google.maps.drawing.DrawingManager({
    drawingMode: google.maps.drawing.OverlayType.POLYLINE,
    drawingControl: true,
    drawingControlOptions: {
      position: google.maps.ControlPosition.TOP_CENTER,
      drawingModes: [
        google.maps.drawing.OverlayType.POLYLINE
      ]
    },
    polylineOptions: {
      strokeColor: '#696969',
      strokeWeight: 2,
      strokeOpacity: 0.3,
    }
  });
  drawingManager.setMap(map);

  // Snap-to-road when the polyline is completed.
  drawingManager.addListener('polylinecomplete', function(poly) {
    var path = poly.getPath();
    polylines.push(poly);
    placeIdArray = [];
    runSnapToRoad(path);
  });


  // Clear button. Click to remove all polylines.
  document.getElementById('clear').addEventListener('click', function(event) {
    event.preventDefault();
    for (var i = 0; i < polylines.length; ++i) {
      polylines[i].setMap(null);
    }
    polylines = [];
    return false;
  });
}

// Snap a user-created polyline to roads and draw the snapped path
function runSnapToRoad(path) {
  var pathValues = [];
  for (var i = 0; i < path.getLength(); i++) {
    pathValues.push(path.getAt(i).toUrlValue());
  }

  $.get('https://roads.googleapis.com/v1/snapToRoads', {
    interpolate: false,
    key: apiKey,
    path: pathValues.join('|')
  }, function(data) {
    processSnapToRoadResponse(data);

    // タイトルの取得
    let title = $("#title").val();
    let name = $("#name").val();
    let body = $("#body").val();

      $('#result').text('道を作成しました！');
      // Ajax通信を開始
      $.ajax({
        url: '/maps',
        type: 'POST',
        dataType: 'json',
        data: {
          data: JSON.stringify(data),
          title: title,
          name: name,
          body: body
        },
      })

    drawSnappedPolyline();
  });
}

// Store snapped polyline returned by the snap-to-road service.
function processSnapToRoadResponse(data) {
  snappedCoordinates = [];
  placeIdArray = [];
  for (var i = 0; i < data.snappedPoints.length; i++) {
    var latlng = new google.maps.LatLng(
        data.snappedPoints[i].location.latitude,
        data.snappedPoints[i].location.longitude);
    snappedCoordinates.push(latlng);
    placeIdArray.push(data.snappedPoints[i].placeId);
  }
}

// Draws the snapped polyline (after processing snap-to-road response).
function drawSnappedPolyline() {
  var snappedPolyline = new google.maps.Polyline({
    path: snappedCoordinates,
    strokeColor: '#add8e6',
    strokeWeight: 4,
    strokeOpacity: 0.9,
  });

  snappedPolyline.setMap(map);
  polylines.push(snappedPolyline);
}

$(window).load(initialize);
  </script>