<%= javascript_include_tag "new.js" %>
<h1>ようこそ！スナップロードへ！</h1>

  <div>
    <div id="result"></div>

    <%= link_to 'マップ一覧へ', maps_path %>
    <label for="title">タイトル</label>
    <input type="text" name="title" id="title">

    <label for="name">あなたのニックネーム</label>
    <input type="text" name="name" id="name">

    <label for="body">道に関するちょっとしたメモ</label>
    <textarea name="body" id="body" cols="20" rows="3"></textarea>
  </div>

  <div>
    <h2>使い方</h2>    
    <p>1. 最初に道の名前、あなたの名前（架空で構いません）、道に関するちょっとしたメモを入力してください</p>
    <p>2. クリックでポイントを作成し、ダブルクリックで道を作成します</p>
    <p>3. 青い線が表示され、ページ上部に「道を作成しました！」のメッセージが出たら成功です</p>
    <p>作成した道はマップ一覧ページで見ることができます</p>
    <p>もし道を作成途中で作り直したい場合は画面をリロードしてください</p>
　　<h2>注意</h2>
    <p>現段階では作成した道の削除機能はございません。ご了承ください</p>
  </div>  </div>

    <div id="map"></div>
    <div id="bar">
      <h3>道を作りたい場所を検索</h3>
      <p class="auto"><input type="text" id="autoc"/></p>
      <p>削除機能まだ作成途中</p>
      <p>道の削除は<a id="clear" href="#">ここをクリック</a></p>
    </div>